* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fab {
    position: fixed;
    bottom: 32px;
    right: 32px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: red;
    box-shadow: 1px 2px 4px gray;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fab:hover {
    cursor: pointer;
}

.fab img {
    width: 45%;
    transform: rotate(45deg);
    transition: 0.4s;
}

.box {
    position: fixed;
    bottom: 44px;
    right: 5px;
    height: 0px;
    transition-delay: 0.3s;
    width: 80px;
    transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item {
    overflow: hidden;
    border-radius: 50%;
    transition: 0.4s ease-in;
    width: 44px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 3px grey;
}

.item1 {
    transition-delay: 0.2s;
    background: green;
}

.item2 {
    transition-delay: 0.2s;
    background: white;
}

.item3 {
    transition-delay: 0.2s;
    background: white;
    margin-bottom: 50px;
}

.item:hover {
    cursor: pointer;
}

.item:hover img {
    transform: rotate(360deg);
    transition: all 0.5s;
}

.box-active {
    height: 290px;
    z-index: 3;
}

.fab-active img {
    transform: rotate(270deg);
    width: 40%;
}
